.header-container {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .page-title {
    font-size: 30px; /* Increase the font size to make the title bigger */
    font-weight: bold;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .box {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    height: calc(100vh - 180px); /* Adjust the height to fit the title box */
    padding: 20px;
    box-sizing: border-box;
  }
  
   